<!-- homeView.html -->

<div id="homeView" class="container-fluid">
    <h1 class="h-title">Your Curriculum Sheets</h1>

    <div ng-show="vm.loading"><i class="fa fa-circle-o-notch fa-spin"></i></div>
    <div class="text-danger" ng-show="vm.errorMessage">{{vm.errorMessage}}</div>

    <div class="curriculum-sheets-container">
        <div ng-repeat="c in vm.curriculumSheets">
            <a ng-href="#/detail/{{c.id}}" class="curriculum-sheet btn btn-block btn-success">{{ c.major }}, {{ c.subplan }} {{ c.year }}</a>
        </div>
        <a ng-href="#/add" class="curriculum-sheet btn btn-block btn-default"><i class="fa fa-plus-square m-icon" aria-hidden="true"></i> Add new curriculum sheet</a>
    </div>
</div>