<!DOCTYPE html>
<html>
<head>
    <title>ClassTrack</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootswatch/flatly/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    @RenderSection("Styles", false)
</head>
<body>

    <div id="sidebar">
        <ul class="nav">
            @if (User.Identity.IsAuthenticated)
            {
                <li id="username">Hello, @User.Identity.Name</li>
            }
            else
            {
                <li id="username">Hello, there!</li>
            }
            <li><a asp-controller="App" asp-action="Index">Index</a></li>
            <li><a asp-controller="App" asp-action="About">About ClassTrack</a></li>
            <li><a asp-controller="App" asp-action="Contact">Meet the Devs</a></li>
            @if (User.Identity.IsAuthenticated)
            {
                <li><a asp-controller="App" asp-action="Home">My Curriculum Sheets</a></li>
                <li><a asp-controller="Auth" asp-action="Logout">Logout</a></li>
            }
            else
            {
                <li><a asp-controller="Auth" asp-action="Login">Login</a></li>
            }
        </ul>
    </div>

    <button id="sidebarToggle" class="btn btn-default">
        <i class="fa fa-angle-left"></i>
    </button>

    <div id="wrapper">
        <div id="main" class="container-fluid p0">
            @RenderBody()
        </div>
    </div>


    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>

    @RenderSection("Scripts", false)

</body>
</html>