<!DOCTYPE html>
<html>
<head>
    <title>ClassTrack</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootswatch/flatly/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Passion+One">
    <link rel="stylesheet" href="~/css/site.css" />

    @RenderSection("Styles", false)
</head>
<body>

    <div id="sidebar">
        <ul class="nav">
            @if (User.Identity.IsAuthenticated)
            {
                <li id="username">Hello, @User.Identity.Name</li>
            }
            else
            {
                <li id="username">Hello, there!</li>
            }
            <li><a asp-controller="App" asp-action="Index"><i class="fa fa-home mr-icon" aria-hidden="true"></i>Index</a></li>
            <li><a asp-controller="App" asp-action="About"><i class="fa fa-ellipsis-h mr-icon" aria-hidden="true"></i>About ClassTrack</a></li>
            <li><a asp-controller="App" asp-action="Contact"><i class="fa fa-users mr-icon" aria-hidden="true"></i>Meet the Devs</a></li>
            @if (User.Identity.IsAuthenticated)
            {
                <li><a asp-controller="App" asp-action="Home"><i class="fa fa-book mr-icon" aria-hidden="true"></i>My Curriculum Sheets</a></li>
                <li><a asp-controller="Auth" asp-action="Logout"><i class="fa fa-sign-out mr-icon" aria-hidden="true"></i>Logout</a></li>
            }
            else
            {
                <li> <a asp-controller="Auth" asp-action="Login"><i class="fa fa-sign-in mr-icon" aria-hidden="true"></i>Login</a></li>
            }
        </ul>
    </div>

    <button id="sidebarToggle" class="btn btn-default">
        <i class="fa fa-angle-left"></i>
    </button>

    <div id="wrapper">
        <div id="main" class="container-fluid p0">
            @RenderBody()
        </div>
    </div>


    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/lib/scrollreveal/src/scrollreveal.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>

    @RenderSection("Scripts", false)

</body>
</html>