<!DOCTYPE html>
<html>
<head>
    <title>ClassTrack</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootswatch/flatly/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div id="sidebar">
        <ul class="nav">
            @if (User.Identity.IsAuthenticated)
            {
                <li id="username">Hello, @User.Identity.Name</li>
            }
            <li><a asp-controller="App" asp-action="Index">Index</a></li>
            <li><a asp-controller="App" asp-action="About">About ClassTrack</a></li>
            <li><a asp-controller="App" asp-action="Contact">Meet the Devs</a></li>
            @if (User.Identity.IsAuthenticated)
            {
                <li><a asp-controller="App" asp-action="Home">My Curriculum Sheet</a></li>
                <li><a asp-controller="Auth" asp-action="Logout">Logout</a></li>
            }
            else
            {
                <li><a asp-controller="Auth" asp-action="Login">Login</a></li>
            }
        </ul>
    </div>

    <div id="wrapper">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <button id="sidebarToggle" class="btn btn-default">
                            <i class="fa fa-angle-left"></i>
                        </button>
                    </li>
                </ul>
                <a asp-controller="App" asp-action="Index" class="navbar-brand">ClassTrack</a>
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/Account/Index" class="btn btn-sm btn-info">
                                <i class="fa fa-user"></i> My Account
                            </a>
                        </li>
                    </ul>
                }
            </div>
        </nav>

        <div id="main" class="container-fluid">
            <div>
                @RenderBody()
            </div>
        </div>
    </div>


    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>

    @RenderSection("scripts", false)

</body>
</html>