/* home.css */

.table-cell {
    display: table-cell;
    padding: 0px 5px;
}

.pl20 {
    padding-left: 20px;
}


/* homeView.html */
.curriculum-sheets-container {
   padding: 20px;
}

.curriculum-sheet {
    margin: 10px 0;
    padding: 30px;
}


/* csView.html */
#csView {
    padding-bottom: 20px;
}

.curriculum-sheet-detail {
    margin: 40px;
    padding: 20px;
    border: 2px solid gray;
    text-align: left;
    line-height: normal;
}

#header #major {
    font-weight: bold;
    font-size: 2em;
}

#header #subplan {
    font-weight: bold;
    font-size: 1.5em;
}

#header #year, #header #minUnits {
    font-weight: bold;
    font-size: 1.2em;
}

.module {
    margin: 10px 0px;
    padding: 10px;
    border: 1px solid gray;
}

.module .title, .module .units {
    font-weight: bold;
    font-size: 1.2em;
}

.submodule {
    margin-left: 40px;
}

#hcolor-container {
    float: right;
    clear: both;
    margin: 0 0 20px 0;
}
#hcolor-container a.active {
    border: 2px solid black;
    color: black;
    font-weight: bold;
}

.item {
    cursor: pointer;
}

.item .hcolor-hastaken {
    background-color: #fffc54;
}
.item .hcolor-istaking {
    background-color: #fb8447;
}


/* addView.html */
.curriculum-sheet-form {
    width: 70%;
    margin: 40px auto;
    text-align: left;
}
