/* home.css */

.table-cell {
    display: table-cell;
    padding: 0px 5px;
}

.pl20 {
    padding-left: 20px;
}


.curriculum-sheets-container {
   padding: 20px;
}

.curriculum-sheet {
    margin: 10px;
    padding: 30px;
}

.curriculum-sheet-detail {
    margin: 40px;
    padding: 20px;
    border: 2px solid gray;
    text-align: left;
}

.module {
    margin: 10px 0px;
    padding: 10px;
    border: 1px solid gray;
}

.module .title, .module .units {
    font-weight: bold;
    font-size: 1.2em;
}

.submodule {
    margin-left: 40px;
}

#hcolor-container {
    float: right;
    clear: both;
}

#hcolor-container a.active {
    border: 2px solid black;
    color: black;
}

.item .hcolor-hastaken {
    background-color: #fffc54;
}
.item .hcolor-istaking {
    background-color: #fb8447;
}

