/* site.css */

html, body {
    height: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.m0 {
    margin: 0;
}

.p0 {
    padding: 0;
}

.menu {
    font-size: 12px;
}
.menu li {
    list-style-type: none;
}
menu li.active {
    font-weight: bold;
}

/* Sidebar */
#sidebar {
    background: #2a2c36;
    color: #eee;
    position: fixed;
    height: 100%;
    width: 250px;
    overflow: hidden;
    left: 0;
    margin: 0;
    -moz-transition: left ease .25s;
    -o-transition: left ease .25s;
    -webkit-transition: left ease .25s;
    transition: left ease .25s;
}
#sidebar.hide-sidebar {
    left: -250px;
    -moz-transition: left ease .25s;
    -o-transition: left ease .25s;
    -webkit-transition: left ease .25s;
    transition: left ease .25s;
}
#username {
    padding: 30px;
    font-size: large;
}    

/* Arrow toggling sidebar */
#sidebarToggle {
    background-color: transparent;
    border-color: transparent;
    margin-left: 210px;
    -moz-transition: margin-left ease .25s;
    -o-transition: margin-left ease .25s;
    -webkit-transition: margin-left ease .25s;
    transition: margin-left ease .25s;
    position: fixed;
}
#sidebarToggle:hover, #sidebarToggle.move:hover {
    color: mediumseagreen;
}
#sidebarToggle.move {
    margin-left: 0;
    -moz-transition: margin-left ease .25s;
    -o-transition: margin-left ease .25s;
    -webkit-transition: margin-left ease .25s;
    transition: margin-left ease .25s;
    color: #2a2c36;
    font-size: 20px;
}

#wrapper {
    margin: 0 0 0 250px;
    -moz-transition: margin-left ease .25s;
    -o-transition: margin-left ease .25s;
    -webkit-transition: margin-left ease .25s;
    transition: margin-left ease .25s;
    height: 100%;  
}
#wrapper.hide-sidebar {
    margin-left: 0;
    -moz-transition: margin-left ease .25s;
    -o-transition: margin-left ease .25s;
    -webkit-transition: margin-left ease .25s;
    transition: margin-left ease .25s;
}

.container-fluid {
    text-align: center;
    height: 100%;  
}

.content {
    position: relative;
    top: 10%;
}

#index {
    background: url('../img/feather_wallpaper.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}
