/* site.css */

html, body {
    height: 100%;
    line-height: 200%;
}

a:hover {
    color:#2a2c36;
    text-decoration: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.h-title {
    font-family: 'Passion One', cursive;
    text-transform: uppercase;
    font-size: 5em;
}

/* center text horizontally/vertically */
.center-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 0 20%;
}

.m0 {
    margin: 0;
}

.m-icon {
    margin-right: 5px;
    margin-left: 5px;
}

.p0 {
    padding: 0;
}

.menu {
    font-size: 12px;
}
.menu li {
    list-style-type: none;
}
menu li.active {
    font-weight: bold;
}

/* Sidebar */
#sidebar {
    background: #2a2c36;
    color: #eee;
    position: fixed;
    height: 100%;
    width: 250px;
    overflow: hidden;
    left: 0;
    margin: 0;
    -moz-transition: left ease .25s;
    -o-transition: left ease .25s;
    -webkit-transition: left ease .25s;
    transition: left ease .25s;
}
#sidebar.hide-sidebar {
    left: -250px;
    -moz-transition: left ease .25s;
    -o-transition: left ease .25s;
    -webkit-transition: left ease .25s;
    transition: left ease .25s;
}
#username {
    padding: 30px;
    font-size: large;
}   

/* Arrow toggling sidebar */
#sidebarToggle {
    background-color: transparent;
    border-color: transparent;
    margin-left: 210px;
    -moz-transition: margin-left ease .25s;
    -o-transition: margin-left ease .25s;
    -webkit-transition: margin-left ease .25s;
    transition: margin-left ease .25s;
    position: fixed;
    z-index: 999;
}
#sidebarToggle:hover, #sidebarToggle.move:hover {
    color: mediumseagreen;
}
#sidebarToggle.move {
    margin-left: 0;
    -moz-transition: margin-left ease .25s;
    -o-transition: margin-left ease .25s;
    -webkit-transition: margin-left ease .25s;
    transition: margin-left ease .25s;
    color: #2a2c36;
    font-size: 20px;
}

#wrapper {
    margin: 0 0 0 250px;
    -moz-transition: margin-left ease .25s;
    -o-transition: margin-left ease .25s;
    -webkit-transition: margin-left ease .25s;
    transition: margin-left ease .25s;
    height: 100%;  
}
#wrapper.hide-sidebar {
    margin-left: 0;
    -moz-transition: margin-left ease .25s;
    -o-transition: margin-left ease .25s;
    -webkit-transition: margin-left ease .25s;
    transition: margin-left ease .25s;
}

.container-fluid {
    text-align: center;
    height: 100%;  
    padding: 0;
}

.content {
    position: relative;
    top: 10%;
}

/* Index section */
#index {
    background: url('../img/notepen_wallpaper.jpg') no-repeat center center fixed;
    display: table;
    height: 100%;
    width: 100%;
    position: relative;
    background-size: cover;
}
#index h1 {
    color: white;
    text-shadow: 0 0 6px #000;
}
#index h3 {
    font-size: 1.5em;
    color: #fff;
    margin: 20px;
    padding: 0;
    text-shadow: 0 0 6px #000; 
}

/* About section */
#cover {
    background: url('../img/studying_wallpaper.jpg') no-repeat center center fixed;
    display: table;
    height: 100%;
    width: 100%;
    position: relative;
    background-size: cover;
}
#about .text-content {
    padding: 40px 15%;
    margin: 10px;
}

.section-title {
    margin-bottom: 50px;
    font-weight: bold;
}

#about-section {
    padding: 40px;
}

#features {
    background-color: #2c3e50;
    padding: 50px;
    margin: 20px 0;
    color: #fff;
}

#footer {
    padding-bottom: 20px;
}

/* Contact section */
#contact #team {
    margin: 80px 0;
}
