@{
    ViewBag.Title = "About";
}
<div id="about" class="container-fluid">

    <div id="cover" class="page-top">
        <div class="center-text">
            <h1 class="h-title">A modern way to keep track of your academic progress</h1>
        </div>
    </div>

    <section id="about-section">
        <div class="container-fluid text-content">
            <div class="row">
                <h1 class="section-title">About ClassTrack</h1>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img src="~/img/screenshots/cs-mini.png" class="img-responsive sr-img" />
                </div>
                <div class="col-md-8">
                    <p>ClassTrack is a tool specifically designed for Cal Poly Pomona students to keep track of their academic progress by offering an online version of the school's PDF version of their major's curriculum sheet. Our service accesses the school's catalog (<a href="http://catalog.cpp.edu/" target="_blank"><code>http://catalog.cpp.edu/</code></a>) and retrieves the aproppriate curriculum sheet information based on your major, submajor, and year requested when you create a new curriculum sheet using our tool.</p>
                    <p>What makes our tool unique? It has been tailored so that you may easily access your curriculum sheet and highlight the courses that you have already taken or are currently taking. This is a beta version and more features are currently in progress. If you have any feedback or suggestions do not hesitate in shooting us an <a href="mailto:cppclasstrack@gmail.com?Subject=ClassTrack%20Feedback" target="_top">email</a>!</p>
                </div>
            </div>
        </div>
    </section>

    <section id="features">
        <div class="container-fluid text-content">
            <div class="row m0">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond sr-icons"></i>
                        <h3>Portable</h3>
                        <p>Everywhere and anytime</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane sr-icons"></i>
                        <h3>Printable</h3>
                        <p>Always have something to turn in to your advisor</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart sr-icons"></i>
                        <h3>Personal</h3>
                        <p>Maintain a curriculum sheet that is unique to your needs</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-mouse-pointer sr-icons"></i>
                        <h3>Convenient</h3>
                        <p>Keep everything organized all in one place!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="footer">
        <p>Made with <i class="fa fa-heart"></i> by <a href="https://github.com/WebineersCPP" target="_blank">WebineersCPP</a></p>
    </section>

</div>



