@{
    ViewBag.Title = "Contact";
}
<div id="contact">
    <h1 class="h-title">Meet the Devs</h1>
    <div id="team" class="row">
        <div class="col-md-3">
            <div class="team-member">
                <img src="~/img/ian.jpg" class="center img-responsive img-circle sr-icons">
                <h3>Ian Stodart</h3>
                <h4>Aspiring Developer</h4>
                <p>Computer Science BS, 2017</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="team-member">
                <img src="~/img/nelly.jpg" class="center img-responsive img-circle sr-icons">
                <h3>Nelly Liu Peng</h3>
                <h4>Aspiring Web Developer</h4>
                <p>Computer Science BS, 2018</p>
                <a href="http://nliupeng.github.io/" target="_blank"><i class="fa fa-link m-icon" aria-hidden="true"></i></a>
                <a href="https://github.com/nliupeng" target="_blank"><i class="fa fa-github m-icon" aria-hidden="true"></i></a>
                <a href="mailto:nlliupeng@cpp.edu" target="_top"><i class="fa fa-envelope m-icon" aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/in/nliupeng" target="_blank"><i class="fa fa-linkedin m-icon" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="team-member">
                <img src="~/img/andrea.jpg" class="center img-responsive img-circle sr-icons">
                <h3>Andrea Schmidt</h3>
                <h4>Aspiring Network Engineer</h4>
                <p>Computer Science BS, 2017</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="team-member">
                <img src="~/img/paul.png" class="center img-responsive img-circle sr-icons">
                <h3>Paul Chiou</h3>
                <h4>Intern</h4>
                <p>Computer Science BS, 2017</p>
            </div>
        </div>
    </div>
</div>



