@{
    ViewBag.Title = "Home";
}
<div class="container">
    <h1>This is Home</h1>
    <p>Logged in users are able to be redirected to this home main page</p>
    <p>Here they will have access to their curriculum sheets</p>
    <p>An AngularJS app may be inserted in this View</p>
</div>