@{
    ViewBag.Title = "Home";
}
@section Styles {
    <link rel="stylesheet" href="~/css/home.css" />
}
@section Scripts {
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/js/app-home.js"></script>
    <script src="~/js/homeController.js"></script>
    <script src="~/js/csController.js"></script>
}


<div ng-app="app-home">
    <h1>Your Curriculum Sheets</h1>

    <div ng-view></div>
</div>