@{
    ViewBag.Title = "Home";
}
@section Styles {
    <link rel="stylesheet" href="~/lib/angular-material/angular-material.min.css" />
    <link rel="stylesheet" href="~/css/home.css" />
}
@section Scripts {
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>

    <!-- Libraries for Angular Material -->
    <script src="~/lib/angular-animate/angular-animate.min.js"></script>
    <script src="~/lib/angular-aria/angular-aria.min.js"></script>
    <script src="~/lib/angular-messages/angular-messages.min.js"></script>
    <script src="~/lib/angular-material/angular-material.min.js"></script>

    <script src="~/js/app-home.js"></script>
    <script src="~/js/homeController.js"></script>
    <script src="~/js/csController.js"></script>
    <script src="~/js/addController.js"></script>
}


<div ng-app="app-home">
    <div ng-view></div>
</div>