@{
    ViewBag.Title = "Index";
}

<h1>Index view</h1>
<p>View for App Controller</p>
<button class="btn btn-lg btn-success">A button from Bootstrap</button>

<div class="container">
    <h2>Image</h2>
    <p>The .img-responsive class makes the image scale nicely to the parent element (resize the browser window to see the effect):</p>
    <img src="thumbs_up.jpg" class="img-responsive" alt="Thumbs up" width="304" height="236">
</div>

<div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
    <input class="form-control" type="text" placeholder="Email address">
</div>
<div class="input-group">
    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
    <input class="form-control" type="password" placeholder="Password">
</div>