@{
    ViewBag.Title = "Index";
}
<div id="index" class="container-fluid">

        <div class="center-text">
            <h1 class="h-title">CPP ClassTrack</h1>
            <h3>Your online version of Cal Poly Pomona's curriculum sheets</h3>

            @if (User.Identity.IsAuthenticated)
            {
                <button onclick="location.href='@Url.Action("Home","App")'" class="btn btn-default btn-success sr-icons">Go to Home</button>
            }
            else
            {
                <button onclick="location.href='@Url.Action("Login","Auth")'" class="btn btn-default btn-success sr-icons">Log in</button>
                <button onclick="location.href='@Url.Action("Register","Auth")'" class="btn btn-default btn-success sr-icons">Register</button>
            }
        </div>

</div>





